body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #f9f9f9;
}

#app {
    display: flex;
    width: 100%;
    height: 100%;
}

#sidebar {
    width: 25%;
    background-color: #282c34;
    color: #ffffff;
    overflow-y: auto;
}

#sidebar h3 {
    margin: 0;
    padding: 1rem;
    background-color: #3a3f47;
}

#h3username {
    width: 20%;
    margin: 0;
    flex: 1;
    position:fixed;
    bottom: 0;
    padding: 1rex;
    background-color: #3a3f47;
    place-content: bottom;
}

#sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidebar li {
    padding: 1rem;
    cursor: pointer;
}

#sidebar li.active {
    background-color: #3a3f47;
}

#chat {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#messages {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
}

#messageForm {
    display: flex;
    padding: 0.5rem;
    background-color: #f0f0f0;
}

#messageInput {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
